<div>
    <div class="row"  style="display: flex;justify-content: center;">
        <div matTooltip="Graduate" class="col-md-6 screen-box" (click)="showScreen1Details()">
            <p >Graduate</p>
        </div>
        <div matTooltip="Undergraduate" class="col-md-6 screen-box" (click)="showScreen2Details()">
            <p >Undergraduate</p>
        </div>
    </div>
    <div class="row" style="display: flex;justify-content: center;">
        <div matTooltip="Professional Studies" class="col-md-6 screen-box" (click)="showScreen3Details()">
            <p>Professional Studies</p>
        </div>
       
    </div>
</div>