<p>
    <mat-toolbar color="primary">
      <div>
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button> -->
        <span>Fall 2022 FINALEXAM</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <span class="example-spacer"></span> -->
        <span>{{examData.personalInfo.fullName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="example-spacer"></span>
        <span>{{examData.collegeInfo.collegeName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="example-spacer"></span>
        <span>{{examData.collegeInfo.collegeAddress}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="example-spacer"></span>
        <span>{{examData.collegeInfo.contactNumber}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="example-spacer"></span>
      </div>
    </mat-toolbar>
  </p>

