<p>
    <mat-toolbar style="height: 200px;" color="primary">
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <div class="row" >
        <span>{{currentDate | date: 'MMM d, Y'}}</span>
        <br>
        <span class="example-spacer"></span>
        <span>{{examData.collegeInfo.emailAddress}}</span>
        <span class="example-spacer"></span>
      </div>
        
    </mat-toolbar>
</p>